footer
    .inner-infomation 
        .section-1 
            img(src="/images/LogoFooter.webp", alt="")
            div Công ty TNHH Du Lịch và Dịch Vụ Mixivivu
            div Tầng 7, số nhà 25, ngõ 38 phố Yên Lãng, phường Láng Hạ, quận Đống Đa, TP. Hà Nội
            div Mã số doanh nghiệp: 0110376372 do Sở Kế hoạch và Đầu tư Thành phố Hà Nội cấp ngày 05/06/2023
        .section-2 
            .item
                div.inner-title GIỚI THIỆU 
                div 
                    a(href="") Về chúng tôi
                div 
                    a(href="") Điều khoản và điều kiện
                div 
                    a(href="") Chính sách riêng tư
                div 
                    a(href="") Hướng dẫn sử dụng
                div 
                    a(href="") Hình thức thanh toán
                div 
                    a(href="") Liên hệ
                div 
                    a(href="") Hotline: 0922222016
                div 
                    a(href="") Email: info@mixivivu.com
            .item
                div.inner-title ĐIỂM ĐẾN
                div 
                    a(href="") Vịnh Hạ Long
                div 
                    a(href="") Vịnh Lan Hạ
                div 
                    a(href="") Đảo Cát Bà
            .item
                div.inner-title DU THUYỀN
                div 
                    a(href="") Blog
                div 
                    a(href="") Quy định chung và lưu ý
                div 
                    a(href="") Câu hỏi thường gặp
    .inner-copyright 
        div Bản quyền © 2024 Mixivivu.
        img(src="/images/logoSaleNoti.webp", alt="")