header 
    a(href="") 
        img(src="/images/Logo.webp", alt="")
    ul.inner-menu 
        li 
            a(href="") Tìm du thuyền
        li 
            a(href="") Tìm vé máy bay
        li 
            a(href="") Tìm khách sạn
        li 
            a(href="") Doanh nghiệp
        li 
            a(href="") Blog
    .inner-contact 
        <i class="fa-solid fa-phone"></i>Hotline: +84 123456789
        a(href="")  Liên hệ Mixivivu  