header 
    a(href="") 
        img(src="/images/Logo.webp", alt="")
    ul.inner-menu 
        li 
            a(href="/") Trang chủ
        li 
            a(href="/categories") Tìm tour du lịch
        li 
            a(href="") Tìm khách sạn
        li 
            a(href="") Doanh nghiệp
        li 
            a(href="") Blog
    .inner-contact 
        <i class="fa-solid fa-phone"></i>Hotline: +84 123456789 
        a(href="/cart" class="cart") <i class="fa-solid fa-plane"></i> Giỏ hàng (<span mini-cart>0</span>)